<div class="container">
<h2>Items</h2>

<% if @items.any? %>
  <% @items.each do |i| %>
    <p> <%= i.name %></p>
    <p> <%= i.description %></p>
  <% end %>
  <% else %>
    <h2>No items yet!</h2>
  <% end %>

  <%= link_to "Add a new Item", new_item_path %>


</div>
