

  <% if @items.any? %>
    <% @items.each do |item| %>
    <div class="row">
      <div class="col s3 offset-s1">
      <%= render "item_row", item: item, order_item: @order_item %>
    </div>
    <% end %>

    <% else %>
      <h5>No items yet!</h5>
    <% end %>
  </div>


<% if current_user %>
  <% if current_user.superadmin_role? %>
    <h1><%= link_to "Add a new Item", new_item_path, class: "waves-effect waves-light btn" %></h1>
  <% end %>
<% end %>
